<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695571840605-mcsbc1thg57lv1cfnhnbpk9g55mddgiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695571840605-mcsbc1thg57lv1cfnhnbpk9g55mddgiu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>695571840605-bmst6rg4irttbifk8h85o1tbdncdefgg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSeofQxlkoDWMqPHNFsZtW8mXZ6GZ5dKU</string>
	<key>GCM_SENDER_ID</key>
	<string>695571840605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoTests</string>
	<key>PROJECT_ID</key>
	<string>shotests</string>
	<key>STORAGE_BUCKET</key>
	<string>shotests.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695571840605:ios:2fd284b812f458c86dd7b4</string>
</dict>
</plist>